<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :when %>
    <%= form.datetime_select :when, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :source %>
    <%= form.text_field :source, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :petrolcost %>
    <%= form.number_field :petrolcost, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

    <%= form.submit "Post", :class => "btn btn-outline-primary" %>
<% end %>
