<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div class="alert alert-danger" role="alert">
    <h2><%= t('trip.error') %>:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :when %>
    <%= form.text_field :when, class: "form-control", id: "dtp_select" %>
  </div>
  <script>
      laydate.render({
          elem: '#dtp_select', // element selector
          type: 'datetime',
          lang: 'en' // default is Chinese version, use en for english
      });
  </script>
  <div class="form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :source %>
    <%= form.text_field :source, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :petrolcost %>
    <%= form.number_field :petrolcost, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

    <%= form.submit "Post", :class => "btn btn-outline-primary" %>
  <%= link_to 'Back', trips_path,:class => "btn btn-outline-primary" %>

<% end %>
