<%# app/views/trips/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info trips # provided by will_paginate %>
  </div>

  <table>
    <tr>
      <th>When</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Petrol Cost</th>
      <th>Description</th>
      <th></th>
    </tr>
    <% trips.each do |trip| %>
      <tr>
        <td><%= trip.when %></td>
        <td><%= trip.source %></td>
        <td><%= trip.destination %></td>
        <td><%= trip.petrolcost %></td>
        <td><%= trip.description %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to 'Show', trip, class: "dropdown-item" %>
              <% if !current_user.nil? %>
                <% if is_owner(trip, current_user) %><%= link_to 'Destroy', trip, method: :delete, data: {confirm: 'Are you sure?'}, class: "dropdown-item" %>
                <% end %>
                <% if !is_owner(trip, current_user) && !is_passenger(trip, current_user) %><%= link_to "Join", trip_users_path(:PassengerID => current_user.email, :TripID => trip.trip_id, :message => "I'd love to join you on this trip!"), :method => :post, action: "create", class: "dropdown-item" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate trips # provided by will_paginate %>