<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Driver</th>
      <th>Trip</th>
      <th>When</th>
      <th>Destination</th>
      <th>Source</th>
      <th>Petrolcost</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.driver_id %></td>
        <td><%= trip.trip_id %></td>
        <td><%= trip.when %></td>
        <td><%= trip.destination %></td>
        <td><%= trip.source %></td>
        <td><%= trip.petrolcost %></td>
        <td><%= trip.description %></td>
        <td><%= link_to 'Show', trip %></td>
        <% join_trip_object = trip %>
        <%# ><td><%= link_to 'Edit', edit_trip_path(trip) %></td>%>
        #link_to "Profile", controller: "profiles", action: "show", id: @profile

        <td><%= link_to "Join", controller: "trip_users", action: "new", trip_id:trip.trip_id, passenger_id: current_user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
