<p id="notice"><%= notice %></p>
<style>@media (min-width: 768px) {
  .form-search .combobox-container,
  .form-inline .combobox-container {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }
  .form-search .combobox-container .input-group-addon,
  .form-inline .combobox-container .input-group-addon {
    width: auto;
  }
}

.combobox-selected .caret {
  display: none;
}


/* :not doesn't work in IE8 */

.combobox-container:not(.combobox-selected) .glyphicon-remove {
  display: none;
}

.typeahead-long {
  max-height: 300px;
  overflow-y: auto;
}

.control-group.error .combobox-container .add-on {
  color: #B94A48;
  border-color: #B94A48;
}

.control-group.error .combobox-container .caret {
  border-top-color: #B94A48;
}

.control-group.warning .combobox-container .add-on {
  color: #C09853;
  border-color: #C09853;
}

.control-group.warning .combobox-container .caret {
  border-top-color: #C09853;
}

.control-group.success .combobox-container .add-on {
  color: #468847;
  border-color: #468847;
}

.control-group.success .combobox-container .caret {
  border-top-color: #468847;
}</style>
  <div class="row">
    <div class="col-sm-3">
      <select class="form-control" id="search_col" onchange="search()">
        <option value="1">Destination</option>
        <option value="2">Source</option>
        <option value="0">Date</option>
      </select>
    </div>
    <div class="col-sm-3">

    <input type="text" id="searchParam" onkeyup="search()" class="form-control" placeholder="Search.." title="Search Box">
    </div>
  </div>
  <br />
<table class="table" id="trip_table">
  <thead>
    <tr>
      <th>When</th>
      <th>Destination</th>
      <th>Source</th>
      <th>Petrol Cost</th>
      <th>Description</th>
      <th colspan="2"> </th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.when %></td>
        <td><%= trip.destination %></td>
        <td><%= trip.source %></td>
        <td><%= trip.petrolcost %></td>
        <td><%= trip.description %></td>
        <td></td>
        <td>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to 'Show', trip, class: "dropdown-item" %>
              <%  if !current_user.nil? %>
                <% if is_owner(trip, current_user) %><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %><% end %>
              <% if !is_owner(trip, current_user) && !is_passenger(trip, current_user) %><%= link_to "Join", trip_users_path(:PassengerID => current_user.email, :TripID => trip.trip_id, :message => "I'd love to join you on this trip!"), :method => :post, action: "create", class: "dropdown-item" %><%end %><% end %>
            </div>
          </div>


</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script>

  function search() {
      filterFunction(document.getElementById("search_col").value);
  }
    function filterFunction(column) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchParam");
        filter = input.value.toUpperCase();
        table = document.getElementById("trip_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[column];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<%= link_to 'New Trip', new_trip_path, class: "btn btn-outline-primary" %>


