<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table class="table">
  <thead>
    <tr>
      <th>When</th>
      <th>Destination</th>
      <th>Source</th>
      <th>Petrolcost</th>
      <th>Description</th>
      <th colspan="2"> </th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.when %></td>
        <td><%= trip.destination %></td>
        <td><%= trip.source %></td>
        <td><%= trip.petrolcost %></td>
        <td><%= trip.description %></td>
        <td></td>
        <td>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to 'Show', trip, class: "dropdown-item" %>
              <%  if !current_user.nil? %>
                <% if is_owner(trip, current_user) %><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %><% end %>
              <% if !is_owner(trip, current_user) && !is_passenger(trip, current_user) %><%= link_to "Join" , {action: "new", trip_id:trip.trip_id, passenger_id: current_user.email}, class: "dropdown-item" %><%end %><% end %>
            </div>
          </div>


</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path, class: "btn btn-outline-primary" %>


