<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @trip.driver_id %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @trip.trip_id %>
</p>

<p>
  <strong>When:</strong>
  <%= @trip.when %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong>Source:</strong>
  <%= @trip.source %>
</p>

<p>
  <strong>Petrolcost:</strong>
  <%= @trip.petrolcost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

<%
  passengers = TripUser.find_by_sql("SELECT * FROM trip_users INNER JOIN users ON trip_users.PassengerID = users.email")
%><br>There is currently
<%=  passengers.to_a.count %> passengers.

<% passengers.each do |trip_users| %>
  <%= trip_users.name %>


<% end %>

