<%= form_with(model: trip_user, local: true) do |form| %>
  <% if trip_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip_user.errors.count, "error") %> prohibited this trip_user from being saved:</h2>

      <ul>
      <% trip_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :TripID, hidden: true, value:  params[:trip_id] %>
  </div>

  <div class="field">
    <%= form.label :PassengerID %>
    <%= form.text_field :PassengerID, hidden: true, value: params[:passenger_id] %>
  </div>
#f.text_field :nome, class: "form-control", disabled: true?
  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
