<p id="notice"><%= notice %></p>

<p>
  <strong>Tripid:</strong>
  <%= @trip_user.TripID %>
</p>

<p>
  <strong>Passengerid:</strong>
  <%= @trip_user.PassengerID %>
</p>

<p>
  <strong>Message:</strong>
  <%= @trip_user.message %>
</p>

<%= link_to 'Edit', edit_trip_user_path(@trip_user) %> |
<%= link_to 'Back', trip_users_path %>
