<!DOCTYPE html>
<html>
  <head>
    <title>HytchHyker</title>
  </head>

  <body>


    <h2>Welcome to HytchHyker</h2>
    <h3>Saving you money on travel costs by sharing with other users</h3>
    <p>Simply head over to our Browse page and find other users to share with!</p>
    <p>Here are some recently posted journeys that might interest you:</p>
    <% flash.each do |key, value| %>
    <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
    <% end %>
    <table style="width:80%;" class="table">
      <thead>
      <tr>
        <th>When</th>
        <th>Destination</th>
        <th>Source</th>
        <th>Petrolcost</th>
        <th>Description</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @trips.each do |trip| %>
        <tr>
          <td><%= trip.when %></td>
          <td><%= trip.destination %></td>
          <td><%= trip.source %></td>
          <td><%= trip.petrolcost %></td>
          <td><%= trip.description %></td>
          <td><%= link_to 'Show', trip, class: "btn btn-outline-primary" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </body>
</html>
