<%
  mytrips = TripUser.find_by_sql("SELECT * FROM trip_users INNER JOIN users ON trip_users.PassengerID = users.email INNER JOIN trips ON trip_users.TripID = trips.trip_id WHERE users.email='" + current_user.email + "'")
%>
<%
  postedtrips = Trip.find_by_sql("SELECT * FROM trips INNER JOIN users ON trips.driver_id = users.email WHERE users.email='" + current_user.email + "'")
%>
<div class="card text-center">
<div class="card-header">Welcome to your HytchHyker Dashboard!
</div>
<div class="card-body">
  <h3 class="card-title"><%= current_user.name %><br><h5><%= current_user.email %><h5>
  </h3>
  You've posted
  <%=  postedtrips.to_a.count %> Journeys.<br>You've booked
  <%=  mytrips.to_a.count %> Journeys.
  <br>  <%= link_to "Change your password", edit_user_registration_path, :class => "btn btn-primary" %><br>

</div>
<div class="card-footer text-muted">
  User Type:
    <% if current_user.is_admin?%><% %>
      Administrator<%else %>Standard User
  <% end %></div>
</div>

<br>





<div class="card-deck">
  <% mytrips.each do |trip_users| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= trip_users.source %> to  <%= trip_users.destination %></h5>
          <p class="card-text"> <%= trip_users.when %><br>The Trip currently has <%=    TripUser.find_by_sql("SELECT * FROM trip_users WHERE TripID=" + trip_users.trip_id.to_s).length %> passengers.</p>
          <%= link_to 'Show', trip_path(trip_users.trip_id), class: "btn btn-primary" %>
        </div>
      </div>
    <br>
  <%end %>
  <% postedtrips.each do |trip| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= trip.source %> to  <%= trip.destination %></h5>
          <p class="card-text"><%= trip.when %><br>The Trip currently has <%=    TripUser.find_by_sql("SELECT * FROM trip_users WHERE TripID=" + trip.trip_id.to_s).length %> passengers.
          </p>
          <%= link_to 'Show', trip_path(trip.trip_id), class: "btn btn-primary" %>
        </div>
      </div>
     <br>
  <%end %>

</div>
<br>
<div class="card text-center">
  <div class="card-header">Your Information</div>
  <div class="card-body">
    Account created on: <%= current_user.created_at %><br>
    User ID: <%= current_user.id %><br>
    Last Logged In: <%= current_user.updated_at %><br>
    Vehicle Capacity: <%= current_user.vehicleCapacity %><br>
    Number Plate: <%= current_user.numberPlate%><br>
    Postcode: <%= current_user.numberPlate%><br>
    Phone Number: <%= current_user.contactNumber%><br>
  </div>
</div>
