<p>
  <%= "Hi #{t('app_title')},"%p= "I'm having some trouble using your Web Application. Please can you give me a hand?" %>
</p>
<dl></dl>
<dt>Name:</dt>
<dd>
  <%= @name %>
</dd>
<dt>Email:</dt>
<dd>
  <%= @email %>
</dd>
<dt>Telephone:</dt>
<dd>
  <%= @telephone %>
</dd>
<p>
  <%= @message %>
</p>
<p>Cheers,</p>
<p>
  <%= @name %>
</p>
